<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-muted">HabitTracker</a>
    <button
      *ngIf="collapseMenu"
      class="navbar-toggler"
      (click)="open(content)"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      *ngIf="!collapseMenu"
      class="collapse navbar-collapse justify-content-end"
    >
      <ng-container [ngTemplateOutlet]="bigMenu"></ng-container>
    </div>
  </div>
</nav>

<ng-template #bigMenu>
  <ul class="navbar-nav h-100 d-flex justify-content-end">
    <section class="d-flex">
      <li *ngFor="let menuDefinition of menuDefinitions" class="nav-item">
        <a
          *ngIf="!menuDefinition.authMenu"
          routerLink="{{ menuDefinition.url }}"
          routerLinkActive="active-link"
          class="nav-link"
          >{{ menuDefinition.title }}</a
        >
      </li>
    </section>
    <section class="d-flex">
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn nav-link"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ user.name }}
        </button>
        <div
          ngbDropdownMenu
          aria-labelledby="dropdownBasic1"
          id="dropdownButtons"
          class="bg-secondary"
        >
          <button class="text-light" *ngIf="!isLoggedIn" ngbDropdownItem>
            Logowanie
          </button>

          <button class="text-light" *ngIf="isLoggedIn" ngbDropdownItem>
            Wyloguj
          </button>
        </div>
      </div>
    </section>
  </ul>
</ng-template>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header text-dark">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Menu</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <h6 class="text-dark mb-3">Witaj, {{ user.name }}</h6>
    <ng-container [ngTemplateOutlet]="mobileMenu"></ng-container>
  </div>
</ng-template>

<ng-template #mobileMenu>
  <ul
    class="navbar-nav h-100 px-2 d-flex flex-column justify-content-between text-dark"
  >
    <section>
      <li
        *ngFor="let menuDefinition of menuDefinitions"
        (click)="close()"
        class="nav-item"
      >
        <a
          *ngIf="!menuDefinition.authMenu"
          routerLink="{{ menuDefinition.url }}"
          routerLinkActive="active-link-mobile"
          class="nav-link p-2"
          >{{ menuDefinition.title }}</a
        >
      </li>
    </section>

    <section class="mb-2 pb-5">
      <hr />
      <li
        routerLinkActive="active-link-mobile"
        class="nav-link p-2"
        *ngIf="!isLoggedIn"
      >
        Logowanie
      </li>
      <li
        routerLinkActive="active-link-mobile"
        class="nav-link p-2"
        *ngIf="isLoggedIn"
      >
        Wyloguj
      </li>
    </section>
  </ul>
</ng-template>
