<!-- dopracować aby w obu widokach zaloguj i wyloguj były odosobnione z boku i na dole w mobilnym -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">HabitTracker</a>
    <button
      *ngIf="collapseMenu"
      class="navbar-toggler"
      (click)="open(content)"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      *ngIf="!collapseMenu"
      class="collapse navbar-collapse justify-content-end"
    >
      <ng-container [ngTemplateOutlet]="outletLi"></ng-container>
    </div>
  </div>
</nav>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Menu</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <ng-container [ngTemplateOutlet]="outletLi"></ng-container>
    </ul>
  </div>
</ng-template>

<ng-template #outletLi>
  <ng-container *ngIf="collapseMenu; else bigMenu">
    <ul class="navbar-nav w-50">
      <li *ngFor="let menuDefinition of menuDefinitions" class="nav-item">
        <a
          routerLink="{{ menuDefinition.url }}"
          routerLinkActive="active-link"
          [ngClass]="{
            'mobile-menu': collapseMenu
          }"
          class="nav-link"
          >{{ menuDefinition.title }}</a
        >
      </li>
    </ul>
  </ng-container>
  <ng-template #bigMenu>
    <ul class="navbar-nav h-100">
      <li *ngFor="let menuDefinition of menuDefinitions" class="nav-item">
        <a
          routerLink="{{ menuDefinition.url }}"
          routerLinkActive="active-link"
          [ngClass]="{
            'mobile-menu': collapseMenu
          }"
          class="nav-link"
          >{{ menuDefinition.title }}</a
        >
      </li>
    </ul>
  </ng-template>
</ng-template>
